*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.page{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-header{
  display: flex;
  flex-direction: column;
}
/* LOGIN form*/
.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#003d66, #005c99);
}
.loginForm{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: 20px;
}
.loginForm form{
    margin: 30px;
}
.loginForm input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
}
.loginForm input[type="text"], .loginForm input[type="password"]{
    border: 1px solid #d9d9d9;
    padding-left: 35px;
}
.loginForm input[type="text"]:hover, .loginForm input[type="password"]:hover{
    border: 1px solid #bfbfbf;
}
.loginHeader h1{
    text-transform: uppercase;
    color: #000000;
    font-size: large;
    font-weight: normal;
    text-align: center;
}
.loginInput{
    position: relative;
}
.loginInput img{
    position: absolute;
    width: 20px;
    left: 2%;
}
.loginInput img[alt="Korisnik"]{
    top:12%;
}
.loginInput img[alt="Lozinka"]{
    top:44.5%;
}
.line{
    border: thin solid #fff;
}

/*LOGIN BUTTON*/
.loginbutton{
    background-color: #003d66;
    color: #fff;
    border: 1px solid #004d80;
    text-transform: uppercase;
    font-size: small;
    /*letter-spacing: 2px;*/
}
.loginbutton:hover{
    opacity: 0.9;
}

/*LOGO*/
.logo{
    height: 6vh;
    padding: 1.3em;
    display: flex;
    align-items: center;
    /*background-image: linear-gradient(to right, #ffffff, #f2f2f2);*/
    /*background-color: #e6e6e6;*/
    background-image: linear-gradient(#003d66, #005c99);
}
a{
    text-decoration: none;
}
.logo img{
    animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  @keyframes fade-in-fwd {
    0% {
      transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
.logo a{
    color: #003d66;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-left: 0.5em;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
.logo a span{
    color: #f2f2f2;
}
/*MENU*/
.main-navigation {
    background-color: #003d66;
    font-size: 0;/*https://www.designcise.com/web/tutorial/how-to-remove-the-gap-between-inline-block-elements*/
    display: flex;
    justify-content: space-between;
}
.main-navigation li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0.8em 2em;
    color: #fff;
    border-right: thin solid #cccccc;
    font-size: 0.9rem;
}
.main-navigation li:hover{
    background-color: #333;
}
.main-navigation li a{
    color: #fff;
}


/*DROPDOWN MENU*/
.main-navigation li ul{
  display:none;
}
.main-navigation li:hover ul{
  display:block;
  position:absolute;
  background-color: #003d66;
  right: 0;
}
.main-navigation li:hover ul li{
  display:block;
  border-right: none;
}



 /* #toggle-input {
    display: none;
  }
  .toggle-btn {
  display: none;  
  }
  @media only screen and (max-width: 800px) {
    .toggle-btn {
      display: block;
      width: 50px;
      height: 50px;
      background: url('../images/hamburger.png') no-repeat;

    }
    .main-menu ul{
      display: none;
    }
    #toggle-input:checked + .main-menu ul{
      display: block;
    } 
    #toggle-input:checked + .main-menu .toggle-btn {
      background: url('../images/close.png') no-repeat;
    }
    .main-menu li{
      display: block;
    }
  }*/


/*ADD/UPDATE EMPLOYEES*/
.employees{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employees form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em;
  font-size: 0.9em;
  border: 1px solid #d9d9d9;
  padding: 1em;
}
.employees form input{
  margin: 0.3em 0;
  padding: 0.3em;
}
.employees .form-header{
  background-color: #004d80;
  padding: 1em;
  margin-bottom: 1em;
  color: #ffffff;
  text-align: center;
}

/*TABLE EMPLOYEES*/
.table-header {
   background-color: #004d80;
   color: white;
   padding: 0.5rem;
   text-align: center;
   text-transform: uppercase;
}
.search{
  display: flex;
  margin: 1em;
}
.search input{
  flex-direction: row;
}
.search input:first-child{
  flex-grow: 1;
}
.table-employees{
   margin: 1em auto;
   font-size: 0.9em;
}
.table-employees table,.table-employees tr{ 
  border: 1px solid #d9d9d9; 
  border-collapse: collapse;
  width: 100%;
}
.table-employees td,.table-employees th{ 
  padding: 0.2em;
  text-align: center;
  font-weight: normal;
}
.table-employees tr:hover{ 
 background-color: #f2f2f2;
}
.table-employees th{ 
  color: #003d66;
  background-color:#d9d9d9;
  text-transform: uppercase;
}
.table-employees td:last-child{ 
  text-align: right;
}

@media screen and (max-width: 700px) {  
  .employees{
    width: 100%;
  } 
  .table-employees table, tr, td{ 
    display: block;
  }
  .table-employees tr{
    position: relative;
  }
  .table-employees tr:first-child{ 
    display: none; 
  }
  .table-employees td:first-child{
    position: absolute;
    top: 50%;
    width: 30%;
    font-weight: bold;
  }
  .table-employees td:not(:first-child){
    clear: both;
    margin-left: 35%;
    position: relative;
    text-align: left;
  }
  .table-employees td:nth-child(n+1):before{color: #003d66;}
  .table-employees td:nth-child(2):before {content:'Organizaciona jedinica : ';}
  .table-employees td:nth-child(3):before {content:'Email: ';}
  .table-employees td:nth-child(4):before {content:'Broj telefona: ';}
  .table-employees td:nth-child(5):before {content:'Broj kancelarije: ';}
  .table-employees td:nth-child(6):before {content:'';}
  .table-employees td:last-child{ 
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .table-employees td:first-child { 
    position: relative;   
    top: 0;
    width: 100%;
  }
  .table-employees td:not(:first-child) {
    margin: 0;
    padding: 0.2em 0.5em;
  }
  .table-employees td:before {
    padding-top: 0.3em;
    position: relative;
  }
  .table-employees td:last-child{
    padding-bottom: 1em
  }
}
  
/*BUTTONS*/
.button{
    color: #FFFFFF;
    position: relative;
    padding: 0.3em 1em;
    box-shadow: 0 4px 0 0 #003d66;
    border: 0;
    border-radius: 0.5em;
    background-color:#005c99;
    margin: 0.3em;
    transition: box-shadow 100ms ease-in-out;
} 
.button:active{
    box-shadow: none;
    background-color:#0268ac;
}
.button:hover{
    background-color:#0268ac;
}

