body, input, button{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/* LOGIN form*/
.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0059b3, #1a8cff);
}
.loginForm{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: 20px;
}
.loginForm form{
    margin: 30px;
}
.loginForm input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
}
.loginForm input[type="text"], .loginForm input[type="password"]{
    border: 1px solid #d9d9d9;
    padding-left: 35px;
}
.loginForm input[type="text"]:hover, .loginForm input[type="password"]:hover{
    border: 1px solid #bfbfbf;
}
.loginHeader h1{
    text-transform: uppercase;
    color: #000000;
    font-size: large;
    font-weight: normal;
    text-align: center;
}
.loginInput{
    position: relative;
}
.loginInput img{
    position: absolute;
    width: 25px;
    left: 1%;
}
.loginInput img[alt="Korisnik"]{
    top:10%;
}
.loginInput img[alt="Lozinka"]{
    top:42.5%;
}
.line{
    border: 1px solid #fff;
}

/*BUTTONS*/
.button{
    background-color: #0066cc;
    color: #fff;
    border: 1px solid #0059b3;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 2px;
}
.button:hover{
    opacity: 0.9;
}